@import "../../styles/common.scss";

.feedList__item {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  &-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 20px;
  }

  &-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    @include border(bottom, 1px, solid, #000000);

    &__title {
      font-size: 16px;
      font-weight: 500;
      color: $f50;
    }

    &__desc {
      width: 100%;
      // @include text-ellipsis();
      @include lamp-clamp(2);
      font-size: 14px;
    }
  }
}
